{% extends "base.html" %} {% block title %}Register System{% endblock %} {%
    block content %} {% if message %}
    <div class="alert alert-secondary" role="alert">
      <p>{{ message }}</p>
    </div>
    {% endif %}
    
    <form action="" method="post">
      <div class="form-group">
        <label for="InputPhoneNumber">Phone Number</label>
        <input
          type="number"
          name="phoneNumber"
          class="form-control"
          id="InputOTP"
          placeholder="0123"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Forgot Password ? Please enter your phone number for validation with OTP.</small
        >
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    {% endblock %}